@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }

.main {
    width: 100%;
    height: 100vh;
    background: url(../src/assets/susan-wilkinson-Nh9yhcnrPI4-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(2.5px);
}

.container {
    z-index: 999;
    padding: 20px;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.342);
    border-radius: 0 16px 0 16px;
    width: 50%;
    min-height: 500px;
    background-color: rgb(24, 24, 24);
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

ul {
    width: 100%;
}

h1 {
    font-size: 30px;
    color: white;
}

span{
    color: white;
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.425);
}

.text{
    width: 100%;
    display: flex;
    align-items: center;
}

input[type=text] {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-radius: 30px 0 0 30px;
    border: none;
    transition: all .2s linear;
}

input[type=text]:focus {
    background-color: aliceblue;
    outline: none;
    
}

.check{
    cursor: pointer;
}

li.completed{
    background-color: rgb(184, 184, 184);
    color: rgb(54, 54, 54);
}


li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px 25px;
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgb(253, 253, 253);
}



.btn {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 16px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .1s ease-in-out;
}

.btn.edit:hover {
    background-color: rgb(228, 255, 109);
}

.btn.delete:hover {
    background-color: rgb(255, 126, 109);
}

.btn.add{
    border-radius: 0 25px 25px 0;
    font-size: 2rem;
    width: 50px;
    height: 60px;
    padding: 0;
    background-color: white;
    border: none;
}

.btn.add:hover{
    box-shadow: inset .2rem .2rem .5rem rgb(24, 24, 24), 
    inset -.2rem -.2rem .5rem rgb(253, 253, 253);
}

.btn.reset{
    background-color: rgb(255, 255, 255);
}

.btn.reset:hover{
    color: white;
    background-color: rgb(255, 126, 109);
}